<div id="conduiteVoiture">
  <h3>Enseignement de la conduite voiture<div class="cubeB"></div></h3>
  <h4>Du mardi au vendredi, du matin au soir</h4>
  <p>inscription et assurance CHF 90.-</p>
  <p>Leçon de 50 min. CHF 100.-</p>
  <p>Examen de pratique CHF 200.-</p>
  <br />
  <p>Je me déplace (raisonnablement) région Morges – Lausanne et environs</p>
</div>
<div id="conduiteMotoScooter">
  <h3>Enseignement de la conduite moto/scooter<div class="cubeR"></div></h3>
  <p>Toutes catégories, les samedis ou selon entente</p>
</div>
<div id="coursObligatoires">
  <div class="triangle">
    <svg version="1.2" width="100%" height="100%">
      <polygon points="0,100 50,0, 100,100" fill="#ffffff" transform="scale(0.54,0.3) rotate(180,50,50)"></polygon>
     </svg>
  </div>
  <h3>Cours obligatoires<div class="cubeY"></div></h3>
  <p>Cherchez-vous à faire 6h – 8h – 12h ? C’est marqué dans votre permis d’élève.</p>
  <p>Merci de cliquer pour les dates et l’inscription</p>
  <form method="POST" action="/send_contact_1">
    <div class="coordonnees">
      <div class="number">
        <h5>1</h5>
      </div>
      <div class="row">
        <div class="span2">
          <h4>Vos coordonnées</h4>
          <p>Nom</p>
          <p>Prénom</p>
          <p>Adresse</p>
          <p>NPA</p>
        </div>
        <div class="span2">
          <div class="brRow"></div>
          <input name="message_request[name]" size="20" type="text" value="" required></input>
          <input name="message_request[firstName]" size="20" type="text" value="" required></input>
          <input name="message_request[address]" size="20" type="text" value="" required></input>
          <input name="message_request[npa]" size="20" type="text" value="" required></input>
        </div>
        <div class="span2">
          <div class="brRow"></div>
          <p>Email</p>
          <p>Téléphone</p>
          <br />
          <div class="empty_line"></div>
          <p>Ville</p>
        </div>
        <div class="span2">
          <div class="brRow"></div>
          <input name="message_request[mail]" size="20" type="text" value="" required></input>
          <input name="message_request[phone]" size="20" type="text" value="" required></input>
          <br />
          <div class="empty_line"></div>
          <input name="message_request[city]" size="20" type="text" value="" required></input>
        </div>
      </div>
      <div class="both"></div>
    </div>
    <div id="pack_maitrise">
      <div class="number">
        <h5>2</h5>
      </div>
      <div class="row">
        <div class="span4" id="pack_checkbox">
          <h4>Choisir son pack</h4>
          <div class="checkbox"><input name="message_request[pack]" size="10" type="radio" value="6h - CHF 300.-" id="six_hours_pack"><span> 6h - CHF 300.-</span></input></div>
          <div class="checkbox"><input name="message_request[pack]" size="10" type="radio" value="8h - CHF 400.-" id="eight_hours_pack"><span> 8h - CHF 400.-</span></input></div>
          <div class="checkbox"><input name="message_request[pack]" size="10" type="radio" value="12h - CHF 600.-" id="twelve_hours_pack"><span> 12h - CHF 600.-</span></input></div>
        </div>
        <div class="span5">
          <h4>Choisir les dates de cours</h4>
          <select name="message_request[date1]" id="six_hours_date">
             <option value="" selected></option>
            <%= options_for_dates(Application::Date.where(position: 0).first.date) if !Application::Date.where(position: 0).first.date.nil? %>
          </select>
          <select name="message_request[date2]" id="eight_hours_date">
             <option value="" selected></option>
            <%= options_for_dates(Application::Date.where(position: 1).first.date) if !Application::Date.where(position: 1).first.date.nil? %>
          </select>
          <select name="message_request[date3]" id="twelve_hours_date">
             <option value="" selected></option>
            <%= options_for_dates(Application::Date.where(position: 2).first.date) if !Application::Date.where(position: 2).first.date.nil? %>
          </select>
        </div>
      </div>
      <div class="both"></div>
    </div>
    <div class="confirmation">
      <div class="number">
        <h5>3</h5>
      </div>
      <div class="row">
        <div class="span5">
          <h6>Vérifiez bien les informations que vous avez entrées et appuyer sur envoyer. Vous recevrez une confirmation rapidement par la poste. </h6>
        </div>
        <div class="span4">
          <input value="Envoyer" name="commit" type="submit"></input>
        </div>
      <div class="both"></div>
    </div>
  </form>
</div>
<div id="preparation">
  <h3>Préparation à l’examen, remise à niveau et perfectionnements:<div class="cubeY2"></div></h3>
  <p>90 CHF / heure pour la maîtrise technique et celle de la circulation.</p>
  <form method="POST" action="/send_contact_2">
    <div class="coordonnees">
      <div class="number">
        <h5>1</h5>
      </div>
      <div class="row">
        <div class="span2">
          <h4>Vos coordonnées</h4>
          <p>Nom</p>
          <p>Prénom</p>
          <p>Adresse</p>
          <p>NPA</p>
        </div>
        <div class="span2">
          <div class="brRow"></div>
          <input name="message_request[name]" size="20" type="text" value="" required></input>
          <input name="message_request[firstName]" size="20" type="text" value="" required></input>
          <input name="message_request[address]" size="20" type="text" value="" required></input>
          <input name="message_request[npa]" size="20" type="text" value="" required></input>
        </div>
        <div class="span2">
          <div class="brRow"></div>
          <p>Email</p>
          <p>Téléphone</p>
          <br />
          <div class="empty_line"></div>
          <p>Ville</p>
        </div>
        <div class="span2">
          <div class="brRow"></div>
          <input name="message_request[mail]" size="20" type="text" value="" required></input>
          <input name="message_request[phone]" size="20" type="text" value="" required></input>
          <br />
          <div class="empty_line"></div>
          <input name="message_request[city]" size="20" type="text" value="" required></input>
        </div>
      </div>
    <div class="both"></div>
    </div>
    <div id="pack_maitrise">
      <div class="number">
        <h5>2</h5>
      </div>
      <br />
      <div class="row">
        <div class="span5" id="pack_checkbox_2">
          <h4>Choisir son pack</h4>
          <div class="checkbox"><span>1h </span><input name="message_request[pack]" size="10" type="radio" value="1h maîtrise technique" id="tech"><span> maîtrise technique</span></input></div>
          <div class="checkbox"><span>1h </span><input name="message_request[pack]" size="10" type="radio" value="1h maîtrise de la circulation" id="flow"><span> maîtrise de la circulation</span></input></div>
          <div class="checkbox"><span>2h </span><input name="message_request[pack]" size="10" type="radio" value="2h maîtrise technique et de la circulation" id="both"><span> maîtrise technique et de la circulation</span></input></div>
        </div>
        <div class="span4">
          <h4>Choisir les dates de cours</h4>
          <select name="message_request[date1]" id="tech_date">
             <option value="" selected></option>
            <%= options_for_dates(Application::Date.where(position: 3).first.date) if !Application::Date.where(position: 3).first.date.nil? %>
          </select>
          <select name="message_request[date2]" id="flow_date">
             <option value="" selected></option>
            <%= options_for_dates(Application::Date.where(position: 4).first.date) if !Application::Date.where(position: 4).first.date.nil? %>
          </select>
          <select name="message_request[date3]" id="both_date">
             <option value="" selected></option>
            <%= options_for_dates(Application::Date.where(position: 5).first.date) if !Application::Date.where(position: 5).first.date.nil? %>
          </select>
        </div>
      </div>
      <div class="both"></div>
    </div>
    <div class="confirmation">
      <div class="number">
        <h5>3</h5>
      </div>
      <div class="row">
        <div class="span5">
          <h6>Vérifiez bien les informations que vous avez entrées et appuyer sur envoyer. Vous recevrez une confirmation rapidement par la poste. </h6>
        </div>
        <div class="span4">
          <input value="Envoyer" name="commit" type="submit"></input>
        </div>
      </div>
      <div class="both"></div>
    </div>
  </form>
</div>
