/***********************/
/******* IMPORT ********/
/***********************/

@import "compass/reset";
@import "compass/typography/text/replacement";  /*FEATURES FOR THE LOGO*/
@import "bootstrap";
@import "compass/typography/text/nowrap";

@import "bootstrap";

/**********************/
/******* COLOR ********/
/**********************/

$grey: #717172;
$greyBG: #c9c6bf;
$blue: #0000f7;
$red: #f70000;
$yellow: #f7f700;
$white: #ffffff;

/**********************/
/******* OTHER ********/
/**********************/

/**********************/
/******* GLOBAL *******/
/**********************/

#main {
  width : 980px;
  margin: 0 auto;
  font-family: Arial;
  text-align: center;
}

h3 {
  font-size: 30px;
  padding: 20px 0;
  text-align: left;
}

h4 {
  margin-bottom : 10px;
  color: white;
  font-weight: 800;
  font-size: 18px;
}

.triangle {
  width: 54px;
  height: 30px;
  margin-left: 440px;
}

.both {
  clear: both;
}

.cubeB, .cubeY, .cubeR, .cubeY2 {
  width: 45px;
  height: 25px;
  float: left;
  margin-right: 10px;
}

.cubeB {
  background-color: $blue;
  margin-left: 195px;
}

.cubeR {
  background-color: $red;
  margin-left: 152px;
}

.cubeY {
  background-color: $yellow;
  margin-left: 310px;
}

.cubeY2 {
  background-color: $yellow;
  margin-left: 38px;
}

.empty_line {
  margin: 10px 0;
}

p {
  line-height: 130%;
  font-size: 18px;
}

.number {
  width: 100px;
  float: left;

  h5 {
    font-size: 80px;
    color: white;
    font-weight: 800;
    margin: 15px 0;
  }
}

h6 {
  font-style: italic;
  color: white;
  font-size: 14px;
  margin-top: 35px;
}

input {
  margin-top: 5px;
}

/**********************/
/******* GENERAL ******/
/**********************/

header {
  margin-top: 20px;

  h2 {
    color: $grey;
    float: left;
    margin: 92px 62px 0 64px;
    font-size: 30px;
  }

  a {
    font-size: 30px;
    text-decoration: none;
    margin: 100px 0 0 20px;
    color: $grey;
    float: left;
  }

  h1.logo {
    float: left;
    @include replace-text-with-dimensions('logo_dieter.jpg', 50%, 50%, true);
  }

  div.both {
    clear: both;
  }
}

footer {

  h2 {
    color: $grey;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
}

#conduiteVoiture {
  background-color: $greyBG;
  margin: 20px 0;
  padding-bottom: 20px;
}

#coursObligatoires, #preparation {
  background-color: $greyBG;
}

#coursObligatoires {
  margin-top: 20px;
  padding-bottom: 20px;
}

#preparation {
  padding-bottom: 20px;
}

.coordonnees, #pack_maitrise, .confirmation {
  border: white 2px dashed;
  margin: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.confirmation {

  input {
    background-color: #4bc055;
    color: white;
    font-size: 30px;
    width: 362px;
    height: 53px;
    margin-top: 30px;
    border-radius: 10px;
    background-image: linear-gradient(bottom, #4bc055 0%, #5ae666 100%);
    background-image: -o-linear-gradient(bottom, #4bc055 0%, #5ae666 100%);
    background-image: -moz-linear-gradient(bottom, #4bc055 0%, #5ae666 100%);
    background-image: -webkit-linear-gradient(bottom, #4bc055 0%, #5ae666 100%);
    background-image: -ms-linear-gradient(bottom, #4bc055 0%, #5ae666 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
}

.brRow {
  width: 120px;
  height: 28px;
}

.row {
  text-align: left;

  input {
    display: block;
  }
}

.checkbox {
  display: block;

  input {
    display: inline;
    margin-right: 10px;
  }
}

.bigRow {
  width: 370px;
  float: left;
  text-align: left;

  select {
    display: none;
  }

  .checkbox {
    display: block;

    input {
      display: inline;
    }
  }
}

/**********************/
/******* GENERAL ******/
/**********************/

.form {
  border: white 2px dashed;
  margin: 40px;
  padding: 20px;
  text-align: left;
}

.dateText {
  margin-bottom: 20px;

  textarea {
    margin-left: 10px;

    width: 836px;
    min-width: 836px;
    max-height: 836px;

    height: 155px;
    min-height: 155px;
    max-height: 155px;

    @include nowrap;
  }
}

.publish {
  top: 60px;
  left: 790px;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: 42px;
  padding: 10px 10px;
  color: $white;
  font-size: 1.8em;
}

@import "mobile";

