<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>DieterLGS <%= @item[:title] %></title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <div id ="main">
      <header>
        <h2>079 / 310 07 00</h2>
        <h1 class="logo">Dieter LGS  Auto moto école 1326 JURIENS</h1>
        <a href="mailto:didischmid@bluewin">didischmid@bluewin.ch</a>
        <div class="both"></div>
      </header>
      <div id="content">
        <%= yield %>
      </div>
      <footer>
        <h2>Auto Moto Ecole - 1326 Juriens - 079 / 310 07 00 - didischmid@bluewin.ch</h1>
      </footer>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2241355-22', 'dieterlgs.ch');
      ga('send', 'pageview');
    </script>
  </body>
</html>
